.Footer {
  margin-top: var(--mb-4);
  min-height: 30vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 4px var(--primary);
  font-size: 14px;
}

.Footer__links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  max-width: 320px;
  margin: 0 auto;
}

.Footer__right {
  margin-top: var(--mb-5);
}

.Footer__link {
  transition: .126s;
}

.Footer__link:hover {
  color: var(--primary);
}

@media screen and (max-width: 479px) {
  .Footer__links {
    width: 100%;
  }
}