.Stack {
  height: 35vh;
  max-height: 320px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 transparent;
  transition: .132s;
  background-color: #0000009a;
  border-bottom: 1px solid transparent;
}

.Stack:hover {
  border-bottom: 1px solid var(--primary);
}

.Stack__info {
  width: 520px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Stack__list {
  padding-left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: var(--mb-5);
}

.Stack__link {
  font-size: 14px;
  color: var(--gray);
  transition: .127s;
}

.Stack__link:hover {
  opacity: 1;
  color: var(--primary);
}

@media screen and (max-width: 767px)  {
  .Stack__info {
    width: 80%;
  } 
}

@media screen and (max-width: 479px)  {
  .Stack__info {
    width: 94%;
  } 

  .Stack__link {
    font-size: 13px;
  }
}